@font-face {
    font-family: "Qilka-Bold";
    src: url('assets/fonts/Qilka-Bold copy.otf');
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url('assets/fonts/ARIAL.TTF');
    font-style: normal;
}

@font-face {
    font-family: "PressStart";
    src: url('assets/fonts/PressStart2P-Regular.ttf');
    font-style: normal;
}

p {
    font-family: "Arial";
    font-size: 1.2em;
    padding-top: 0px;
    text-transform: none;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-family: "Qilka-Bold";
    font-size: calc(1.375rem + 1.5vw);
    text-transform: uppercase;
    color: linear-gradient(to right, #FDC70C , #E93E3A);
    text-align: center;
    border: 0px solid #ffffff;
}

.bonus-h1 {
    font-family: "PressStart" !important;
    font-size: calc(1.375rem + 1.5vw);
    text-transform: none;
    color: #ffffff;
    text-align: center !important;
    border: 0px solid #ffffff;
}

h2 {
    font-family: "Qilka-Bold";
    font-size: calc(1.325rem + 0.9vw);
    padding-top: 0px;
    text-transform: none;
    color: #201F5B !important;
    text-align: center;
}

h3 {
    font-family: "Arial";
    font-size: calc(1.205rem + 0.4vw);
    padding-top: 0px;
    text-transform: none;
    color: #ffffff;
    text-align: center;
}

h4 {
    font-family: "PressStart";
    font-size: calc(1.9rem + 1.3vw);
    padding-top: 0px;
    text-transform: none;
    color: #ffffff;
    text-align: center;
}

h5 {
    font-family: "Arial" !important;
    font-size: calc(1rem + 0.275vw);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

h6 {
    font-family: "Arial" !important;
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

span-alt {
    color: #ffc72c;
    font-family: "Arial";
    margin-top: 20px;
}

span {
    color: #ffc72c;
    font-family: "PressStart";
}

/* Footer section */
.mobile-footer {
    padding: 0;
    bottom: 0;
}

.desktop-footer {
    padding: 0;
    bottom: 0;
}

/* XS Mobile rules */
@media (max-width:767px) {
    .background-img {
        background-image: url('assets/mobile-background.png');
        background-repeat: no-repeat;
        min-height: 95vh;
        background-position: fixed;
        background-size: 100% 100%;
    }

    .pointer-img {
        position: absolute;
        top: -30px;
        left: 34% !important;
        transform: translateX(-30%);
        width: 100px;
        z-index: 10;
    }

    .footer-energade {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: -10px;
        height: 30px !important;
        margin-top: 10px;
    }

    /* .sky-gradient {
        background: url("assets/right-clouds.png") right top / 20% no-repeat,
            url("assets/left-clouds.png") left top / 20% no-repeat;
        background-blend-mode: overlay;
        opacity: 0.95;
        width: 100% !important;
    } */
    .footer-logos img {
        height: 20px !important;
        display: flex;
        gap: 10px !important;
    }

    .footer-logos {
        height: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 20px;
    }

    .desktop-footer {
        visibility: hidden;
        display: none;
    }

    .drinks-desktop {
        visibility: hidden;
        display: none;
    }

    .logo-row {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
    }

    #short.body-content {
        padding-bottom: 15vh !important;
    }

    .body-content {
        padding-bottom: 8vh;
    }

    .closing-footer-area {
        margin-top: -10vh;
    }
}

/* MD mobile rules */
@media (min-width:350px) and (max-width:450px) {
    .background-img {
        background-image: url('assets/mobile-background.png');
        background-repeat: no-repeat;
        min-height: 95vh;
        background-position: fixed;
        background-size: 100% 100%;
    }

    .body-content {
        padding-bottom: 8vh;
    }

    .pointer-img {
        position: absolute;
        top: -30px;
        left: 40%;
        transform: translateX(-30%);
        width: 100px;
        z-index: 10;
    }

    .footer-energade {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: -10px;
        height: 30px !important;
        margin-top: 10px;
    }

    /* .sky-gradient {
        width: auto;
        color: #fff;
        background: url("assets/right-clouds.png") right top / 10% no-repeat,
        url("assets/left-clouds.png") left top / 10% no-repeat;
        background-blend-mode: overlay;
        opacity: 0.95;
    } */
    #short.body-content {
        padding-bottom: 15vh !important;
    }

    .closing-footer-area {
        margin-top: -7vh;
    }
}

/* Desktop rules */
@media (min-width:768px) {
    .background-img {
        background-image: url('assets/desktop-background.png');
        background-repeat: no-repeat;
        min-height: 95vh;
        background-position: fixed;
        background-size: 100% 100%;
    }

    .pointer-img {
        position: absolute;
        top: -30px;
        left: 40%;
        transform: translateX(-30%);
        width: 100px;
        z-index: 10;
    }

    .footer-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 20px;
    }

    .footer-energade {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: -10px;
        height: 30px !important;
        margin-top: 10px;
    }

    .mobile-footer {
        visibility: hidden;
        display: none;
    }

    .drinks-mobile {
        visibility: hidden;
        display: none;
    }

    .body-content {
        padding-bottom: 0vh;
    }

    .closing-footer-area {
        padding-top: 1vh;
        margin-top: -12vh;
        z-index: 2;
    }

    #short.body-content {
        padding-bottom: 5vh !important;
    }
}

/* Buttons and links */
.btn-primary {
    font-family: "Qilka-Bold";
    border-radius: 30px;
    box-shadow: none;
    background-image: linear-gradient(to right, #FDC70C , #E93E3A);
    border: 5px solid #ffffff;
    width: 50%;
    color: #201F5B !important;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 24px;
    font-size: 1.9em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
    font-family: "Qilka-Bold";
    border-radius: 30px;
    background: linear-gradient(120deg, #E93E3A, #FDC70C, #E93E3A);
    border: 5px solid #ffffff;
    width: 50%;
    color: #201F5B !important;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-position .7s;
    background-size: 200% 100%;
    background-position: 100% 50%;
}

.btn-secondary {
    font-family: "Qilka-Bold";
    border-radius: 30px;
    box-shadow: none;
    background-image: linear-gradient(to right, #FDC70C , #E93E3A);
    border: 5px solid #ffffff;
    width: 100%;
    color: #201F5B !important;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 1.9em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-transform: uppercase;
}

.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active {
    font-family: "Qilka-Bold";
    border-radius: 30px;
    background: linear-gradient(120deg, #E93E3A, #FDC70C, #E93E3A);
    border: 5px solid #ffffff;
    width: 100%;
    color: #201F5B !important;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-position .7s;
    background-size: 200% 100%;
    background-position: 100% 50%;
}

.home-btn {
    margin-top: -60px;
}

.btn-games {
    font-family: "PressStart";
    border-radius: 30px;
    box-shadow: none;
    background-color: #201F5B;
    border: 0px solid #ffffff;
    width: 80%;
    color: #ffffff !important;
    outline: none;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
}

a:hover,
a:focus,
a:visted,
a:active {
    color: #ffffff !important;
}

a {
    color: #ffffff !important;
    text-decoration: underline;
}

/* Form */
.form {
    display: block;
    margin-top: 0em;
}

.age-confirmation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-right: 5px;
    padding-left: 5px;
}

.form-control {
    font-family: "Arial";
    box-shadow: none;
    border-width: 2px solid #D9D9D9;
    background: #ffffff;

    /* padding-top: 8px;
    padding-bottom: 8px; */
    color: #0d183f ;
    border-radius: 10px;
    text-transform: none !important;
    height: 50px;
}

.form-control:focus,
.form-control:active,
.form-control:hover {
    font-family: "Arial";
    box-shadow: none;
    border-width: 0px;
    background: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #0d183f ;
    padding-top: 10px;
    padding-bottom: 10px;
}

select.form-control {
    font-family: "Arial";
    -webkit-appearance: menulist;
    color: #0d183f;
    height: 50px;
}

.form-check-input:focus {
    border-color: transparent !important;
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #2C2C2C;
    border-color: #2C2C2C;
    box-shadow: none;
    width: 1.2em;
    height: 1.2em;
}

.form-check-input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    padding-right: 10px;
}

.form-check {
    /* display: flex; */
    align-items: baseline;
}

option {
    color: #0d183f;
    font-size: 1em;
}

.form-check-label {
    font-family: "Arial" !important;
    padding-left: 10px;
    font-size: 1.1em;
}

#fileUpload {
    color: #201F5B;
    text-transform: lowercase;
    font-family: "Arial"!important;
    border: 0px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px !important;
    width: 100%;

    /* min-height: 4vh; */
    background-color: #ffffff;
    height: 50px;
}

::file-selector-button {
    font-family: "Arial"!important;
    border: 5px solid #201F5B;
    border-radius: 10px 0px 0px 10px !important;
    color: #ffffff;
    height: 50px;
    border-radius: 10px;
    background-color: #201F5B;
    height: 100%;
}

label {
    font-family: "Arial" !important;
    color: #ffffff;
    padding: 0px 0px 5px;
    font-size: 1.1em;
    text-transform: none;
}

input[type="text"].form-control::-webkit-input-placeholder {
    font-family: "Arial" !important;
    color: #D3D3D3 !important;
}

.form-fill-out {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}

.input-date {
    font-family: "Arial" !important;
    color: #0d183f ;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-date:focus,
.input-date:active,
.input-date:hover {
    font-family: "Arial" !important;
    color: #0d183f ;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;
}

/* Placeholder text */
.form-control::placeholder {
    font-family: "Arial" !important;
    color: #D3D3D3;
    opacity: 1;
    letter-spacing: none;
    font-size: 0.9em;
}

.input-date::placeholder {
    font-family: "Arial" !important;
    color: #D3D3D3;
    opacity: 1;
    letter-spacing: none;
    font-size: 0.9em;
}

::placeholder {
    color: #D3D3D3 !important;
    font-family: "Arial";
}

input[type="text"].form-control::-webkit-input-placeholder {
    color: #D3D3D3;
    font-family: "Arial";
}

input[type="date"].form-control::-webkit-input-placeholder {
    color: #D3D3D3;
    font-family: "Arial";
}

.aria-labelledby {
    color: #ffffff;
}

/* General */
/* Start wheel */
.wheel-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.wheel-img {
    width: 100%;
    display: block;
}

.pointer-img {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    z-index: 10;
}

/* Optional: responsive pointer size */
@media (max-width: 576px) {
    .pointer-img {
        width: 80px;
        top: -20px;
        left: 50% !important;
    }
}

/* End wheel */
option {
    font-size: 0.8em;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.logo-row {
    padding: 40px 0px 0px;
}

.emoji-row {
    padding: 50px 0px 0px;
}

.backdrop {
    padding: 10px 0px 20px;
    box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.106), 
                0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    margin-top: 0px;
}

.backdrop-row {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.main-content {
    display: block;
    align-content: center;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.promo-footer {
    /* background: linear-gradient(180deg, #f8d5dc 0%, #f5c9d5 100%); */
    text-align: center;
    padding: 30px 20px;
    font-family: "Arial", Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
}

.footer-logos img {
    height: 50px;
    width: auto;
    object-fit: contain;
    transition: transform 0.2s ease;
    margin-bottom: 20PX;
}

.footer-logos img:hover {
    transform: scale(1.05);
}

.footer-text {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 13px;
}

.footer-text a {
    color: #ffffff;
    text-decoration: underline;
}

/* Bonus Games */
.bonus-card {
    background-color: #201F5B;

    /* dark navy */
    color: #ffffff;
    border-radius: 20px;
    max-width: 400px;
    margin: 40px auto;
    font-family: 'PressStart';
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.bonus-title {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 25px;
}

.bonus-title .highlight {
    color: #FDC70C;

    /* yellow */
}

.btn-play {
    font-family: 'PressStart';
    font-size: 20px;
    background: linear-gradient(90deg, #FDC70C, #E93E3A);
    color: #201F5B;
    border: 3px solid #ffffff;
    border-radius: 25px;
    padding: 14px 30px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-play:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 87, 51, 0.8);
}
