@font-face {
    font-family: "gotham-book";
    src: url('assets/fonts/gotham-book.otf');
    font-style: normal;
}

@font-face {
    font-family: "HEINEKENCORE-BOLD";
    src: url('assets/fonts/HEINEKENCORE-BOLD.OTF');
    font-style: normal;
}

@font-face {
    font-family: "gotham-book";
    src: url('assets/fonts/gotham-book.otf');
    font-style: normal;
}

h1 {
    font-family: "HEINEKENCORE-BOLD";
    color: #FFFFFF !important;
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 30px;
    font-weight: inherit !important;
    text-transform: uppercase;
}

h2 {
    font-family: "HEINEKENCORE-BOLD";
    color: #FFFFFF !important;
    font-weight: 500 !important;
    font-size: calc(1.325rem + 0.9vw);
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

h3 {
    font-family: "HEINEKENCORE-BOLD";
    color: #FFFFFF;
    font-weight: 100;
    font-size: calc(1.3rem + 0.6vw);
    text-align: center;
    padding-top: 10px;
}

h4 {
    font-family: "gotham-book";
    color: #FFFFFF;
    font-weight: 200;
    font-size: calc(1.275rem + 0.3vw);
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

p {
    font-family: "gotham-book";
    color: #FFFFFF;
    font-size: 1.1rem;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
    text-transform: none;
    font-weight: 400;
}

a {
    text-decoration: underline;
}

/* Buttons */
.btn-primary {
    color: #ffffff;
    background-color: #005F21;
    width: 100%;
    font-size: 1.3em;
    margin-top: 20px;
    font-family: "HEINEKENCORE-BOLD";
    text-transform: uppercase;
    outline: none;
    border: 0px none;
    border-style: none !important;
    border-radius: 0px;
    min-height: 4vh;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-visible,
.btn-primary:hover {
    background-color: #005F21;
    box-shadow: none !important;
    outline: none;
    color: #ffffff;
    border: 0px none;
    border-style: none !important;
    filter: brightness(110%);
}

/* Form related */
.form-check {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

option {
    background-color: #FFFFFF;
    color: #008200;
}

select.form-control,
select.form-control:focus,
select.form-control:active {
    font-family: "gotham-book"!important;
    font-size: 1em;
    -webkit-appearance: menulist;
    color: #005F21;
    padding-bottom: 1.1vh;
    padding-top: 1.1vh;
    min-height: 4vh;
    text-transform: lowercase !important;
}

.form-control,
.form-control:focus,
.form-control:active {
    font-family: "gotham-book"!important;
    box-shadow: none;
    border: 2px solid #FFFFFF;
    padding-bottom: 0.8vh;
    margin: 0px;
    color: #FFFFFF;
    border-radius: 0px;
    background-color: #ffffff;
    padding-top: 0.8vh;
    min-height: 4vh;
}

.form-check-input,
.form-check-input:focus {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    outline: 0;
    border-radius: 0px !important;
}

.form-check-input:checked {
    background-color: #005F21;
    border: 2px solid #FFFFFF;
    box-shadow: none;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.input-date {
    background-color: #FFFFFF !important;
    color: #008200;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border: 2px solid #FFFFFF;
    border-radius: none !important;
    background: transparent;
    min-height: 4vh;
}

.input-date:focus-visible {
    outline: none;
}

label {
    color: #ffffff;
    padding: 10px 0px 5px;
    font-family: "gotham-book";
    font-size: 1.1em;
    text-transform: none;
    font-weight: inherit;
}

.form {
    display: block;
    margin-top: 0em;
}

.form-fill-out {
    padding-left: 5px;
    padding-right: 5px;
}

/* file upload input */
#fileUpload {
    color: #008200;
    text-transform: lowercase;
    font-family: "gotham-book"!important;
    border: 2px solid #FFFFFF;
    width: 100%;
    min-height: 4vh;
    background-color: #ffffff;
}

::file-selector-button {
    font-family: "gotham-book"!important;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 0.8vh 2vw;
    border-radius: 0px;
    background-color: #008200;
    height: 100%;
}

/* placeholder text */
.form-control::placeholder,
.input-date::placeholder {
    font-family: "gotham-book" !important;
    color: #AFAFAF;
    opacity: 1;
    font-size: 0.9em;
}

::placeholder {
    font-family: "gotham-book" !important;
    color: #AFAFAF;
}

input[type="text"].form-control::-webkit-input-placeholder,
input[type="tel"].input-date::-webkit-input-placeholder {
    font-family: "gotham-book" !important;
    color: #AFAFAF;
}

.aria-labelledby {
    color: #AFAFAF;
}

/* header */
.hero-desktop,
.hero-mobile {
    width: 100%;
}

.hero {
    margin-bottom: 10px;
    display: block;
}

/* Footer section */
section.footer {
    background-color: #FFFFFF;

    /* padding-top: 20px; */
    padding-bottom: 20px;
}

.footer-area {
    display: flex;
    justify-content: center;
}

.promo-footer {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* XS mobile rules */
@media (min-width:0px) and (max-width:400px){
    .hero #desktop {
        visibility: hidden;
        display: none;
    }
}

/* Mobile rules */
@media (min-width:400px) and (max-width:767px) {
    .hero #desktop {
        visibility: hidden;
        display: none;
    }

    .hero #mobile {
        /* min-height: 300px;
        max-height: 400px; */
    }
}

/* Desktop rules */
@media (min-width:768px) {
    .hero #mobile {
        visibility: hidden;
        display: none;
    }

    .hero #desktop {
        /* min-height: 450px;
        max-height: 550px; */
        width: 100%;
    }
}

/* links */
a {
    color: #FFFFFF;
    text-decoration: underline;
}

a:hover {
    color: #FFFFFF !important;
}

a:hover,
a:focus,
a:visted,
a:active {
    color: #FFFFFF !important;
}

/* general layout */
.body-content {
    min-height: 58vh;
    overflow: hidden;
    display: block;
    padding-bottom: 10vh;
}

hr {
    margin: 1rem 0;
    color: inherit;
    opacity: 1;
    border-top-width: 2px;
    border-top-color: #ffffff;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 100%;
}

.row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    background-image: radial-gradient(circle at center right, #7AB800 10%, #008200 60%);
    min-height: 90vh;
}

.promo-box {
    background-color: #7AB800;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* Socials */
.social-icon {
    width: 32px;
    height: 32px;
    transition: transform 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.15);
}