@font-face {
    font-family: "MarkPro-Regular";
    src: url('assets/fonts/MarkPro-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: "MarkPro-Heavy";
    src: url('assets/fonts/MarkPro-Heavy.otf');
    font-style: normal;
}

@font-face {
    font-family: "MarkPro-Bold";
    src: url('assets/fonts/MarkPro-Bold.otf');
    font-style: normal;
}

@font-face {
    font-family: "MarkPro-Medium";
    src: url('assets/fonts/MarkPro-Medium.otf');
    font-style: normal;
}

h1 {
    font-family: "MarkPro-Heavy";
    color: #FFFFFF !important;
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 30px;
    text-transform: uppercase;
}

h2 {
    font-family: "MarkPro-Heavy";
    color: #FFFFFF !important;
    font-size: calc(1.325rem + 0.9vw);
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

h3 {
    font-family: "MarkPro-Bold";
    font-style: normal;
    color: #FFFFFF;
    font-size: calc(1.3rem + 0.6vw);
    text-align: center;
    padding-top: 10px;
}

h4 {
    font-family: "MarkPro-Bold";
    color: #FFFFFF;
    font-size: calc(1.275rem + 0.3vw);
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

p {
    font-family: "MarkPro-Regular";
    color: #FFFFFF;
    font-size: 1.1rem;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
    text-transform: none;
}

span {
    text-transform: uppercase;
    color: #B80909;
}

span-alt {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold !important;
}

/* Buttons */
.btn-primary {
    color: #ffffff;
    background-color: #B80909;
    width: 100%;
    font-size: 1.3em;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "MarkPro-Heavy";
    font-weight: 700 !important;
    font-style: normal;
    text-transform: uppercase;
    outline: none;
    border: 0px none;
    border-style: none !important;
    border-radius: 5px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-visible,
.btn-primary:hover {
    background-color: #881515 !important;
    box-shadow: none !important;
    outline: none;
    color: #ffffff;
    border-radius: 10px;
    border-style: none !important;
    filter: brightness(110%);
}

/* Form related */
.form-check {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

option {
    background-color: #FFFFFF;
    color: #000000;
}

select.form-control,
select.form-control:focus,
select.form-control:active {
    font-family: "MarkPro-Regular";
    font-size: 1em;
    -webkit-appearance: menulist;
    color: #000000;
    background-color: #ffffff;
    min-height: 5vh;
}

.form-control,
.form-control:focus,
.form-control:active {
    font-family: "MarkPro-Regular";
    box-shadow: none;
    border: 0px solid #FFFFFF;
    padding-bottom: 0.8vh;
    margin: 0px;
    color: #000000;
    background-color: #ffffff !important;
    border-radius: 5px;
    background-color: transparent;
    padding-top: 0.8vh;
    min-height: 4vh;
}

.form-check-input,
.form-check-input:focus {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #FFFFFF;
    outline: 0;
    border-radius: 3px !important;
}

.form-check-input:checked {
    background-color: #B80909;
    border: 0px solid #FFFFFF;
    box-shadow: none;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.input-date {
    font-family: "MarkPro-Regular";
    color: #000000;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border: 2px solid #FFFFFF;
    border-radius: 5px !important;
    background: #ffffff;
}

.input-date:focus-visible {
    outline: none;
}

label {
    color: #FFFFFF;
    padding: 10px 0px 5px;
    font-family: "MarkPro-Medium";
    font-weight: 500 !important;
    font-style: normal;
    font-size: 1.1em;
    text-transform: none;
    font-weight: inherit;
}

.form {
    display: block;
    margin-top: 0em;
}

.form-fill-out {
    padding-left: 5px;
    padding-right: 5px;
}

/* file upload input */
#fileUpload {
    text-transform: lowercase;
    font-family: "MarkPro-Regular";
    border: 0px solid #FFFFFF;
    border-radius: 10px;
    width: 100%;
    background-color: #ffffff;
}

::file-selector-button {
    font-family: "MarkPro-Regular";
    border: 2px solid #B80909;
    color: #ffffff;
    padding: 0.9vh 2vw;
    border-radius: 5px 0px 0px 5px;
    background-color: #B80909;
    height: 100%;
}

/* placeholder text */
.form-control::placeholder,
.input-date::placeholder {
    font-family: "MarkPro-Regular";
    color: #C4C4C4;
    opacity: 1;
    font-size: 0.9em;
}

::placeholder {
    font-family: "MarkPro-Regular";
    color: #C4C4C4;
}

input[type="text"].form-control::-webkit-input-placeholder,
input[type="tel"].input-date::-webkit-input-placeholder {
    font-family: "MarkPro-Regular";
    color: #C4C4C4;
}

.aria-labelledby {
    color: #C4C4C4;
}

/* header */
.hero-desktop,
.hero-mobile {
    width: 100%;
}

.hero {
    margin-bottom: 40px;
    display: block;
}

/* Footer section */
.footer-area {
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
}

/* XS mobile rules */
@media (min-width:0px) and (max-width:400px){
    .hero #desktop {
        visibility: hidden;
        display: none;
    }

    .desktop-footer {
        visibility: hidden;
        display: none;
    }

    body {
        background-color: #000030;
        min-height: 90vh;
        background-image: url('assets/mountain-graphic.png');
        background-repeat: no-repeat;
        background-position: bottom right !important;
        background-size: 300px;
    }

    .mobile-footer {
        background-color: none;
        z-index: 5;
    }
}

/* Mobile rules */
@media (min-width:400px) and (max-width:767px) {
    .hero #desktop {
        visibility: hidden;
        display: none;
    }

    .hero #mobile {
        width: 100%;
    }

    body {
        background-color: #000030;
        min-height: 90vh;
        background-image: url('assets/mountain-graphic.png');
        background-repeat: no-repeat;
        background-position: bottom right !important;
        background-size: 350px;
    }

    .desktop-footer {
        visibility: hidden;
        display: none;
    }

    .mobile-footer {
        background-color: none;
        z-index: 5;
    }
}

/* Desktop rules */
@media (min-width:768px) {
    .hero #mobile {
        visibility: hidden;
        display: none;
    }

    .hero #desktop {
        width: 100%;
    }

    body {
        background-color: #000030;
        min-height: 90vh;
        background-image: url('assets/mountain-graphic.png');
        background-repeat: no-repeat;
        background-position: bottom right !important;
        background-size: 520px;
    }

    .mobile-footer {
        visibility: hidden;
        display: none;
    }

    .desktop-footer {
        background-color: none;
        width: 100%;
        z-index: 5;
    }
}

/* links */
a {
    color: #FFFFFF;
    text-decoration: underline;
}

a:hover {
    color: #FFFFFF !important;
}

a:hover,
a:focus,
a:visted,
a:active {
    color: #FFFFFF !important;
}

/* general layout */
.body-content {
    min-height: 50vh;
    overflow: hidden;
    display: block;
    padding-bottom: 10vh;
}

hr {
    margin: 1rem 0;
    color: inherit;
    opacity: 1;
    border-top-width: 2px;
    border-top-color: #ffffff;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 100%;
}

.row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    background-color: #000030;
    min-height: 90vh;
}

.logo {
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Game */
.wine-card {
    padding: 10px;
    margin: 10px 0;
}

.wine-card:hover {
    transform: scale(1.05);
    filter: brightness(85%);
}

.wine-image {
    max-width: 100%;
    height: auto;
}

/* Socials */
.social-section {
    padding: 10px 0;
}

.social-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.social-icon-wrapper:hover {
    transform: scale(1.1);
}

.social-icon {
    width: 80%;
    height: auto;
    object-fit: contain;
}